@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.dark body {
  background: linear-gradient(
    to bottom right,
    hsl(var(--background)) 0%,
    hsl(var(--muted)) 50%,
    hsl(var(--background)) 100%
  );
} 